/code/bin-debug
/code/bin-release
/code/resource/default.thm.json
/code/resource/default.res.json
/code/libs/modules
/code/manifest.json
/code/.wing
/cq9mj/code/bin-debug
/cq9mj/code/bin-release
/cq9mj/code/.wing
/bdz/code/bin-debugx 
/bdz/code/bin-release
/bdz/code/.wing
/code/.wing/launch.json
/code/pack_client/node_modules
/code/pack_client/packages
/code/pack_client/build/client
*.log
/code/back/.wing/tasks.json
/code/back/.wing/settings.json
/code/back/.wing/launch.json
/code/back/.wing/exml.json
